<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/center.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="container layout clearfix">
    <div class="pull-left block">
       <div class="center-nav">
          <div class="user">
              <img src="/read/static/src/img/md/ex10.png" alt="" class="img">
              <div class="name">DoGly.cai</div>
          </div>
          <div class="userNav">
              <a class="item active">
                  <span class="iconfont iconshoucang"></span>
                  我的收藏
              </a>
              <a class="item">
                  <span class="iconfont iconmima"></span>
                  修改密码
              </a>
          </div>
       </div>
    </div>
    <div class="pull-right block2">
        <div class="filterNav center">
            <div class="tab active">图书</div>
            <div class="tab">听书</div>
            <div class="tab">电子期刊</div>
            <div class="tab">数字报纸</div>
            <div class="tab">视频</div>
        </div>
        <div class="mdBlock2-5">
            <div class="row clearfix">
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg">
                        <div class="mask">
                            <div class="delete">
                                <span class="iconfont iconguanbi"></span> 移除
                            </div>
                        </div>
                    </div>
                    <div class="name">杜月笙专题</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg">
                        <div class="mask">
                            <div class="delete">
                                <span class="iconfont iconguanbi"></span> 移除
                            </div>
                        </div>
                    </div>
                    <div class="name">杜月笙专题</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg">
                        <div class="mask">
                            <div class="delete">
                                <span class="iconfont iconguanbi"></span> 移除
                            </div>
                        </div>
                    </div>
                    <div class="name">杜月笙专题</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg">
                        <div class="mask">
                            <div class="delete">
                                <span class="iconfont iconguanbi"></span> 移除
                            </div>
                        </div>
                    </div>
                    <div class="name">杜月笙专题</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg">
                        <div class="mask">
                            <div class="delete">
                                <span class="iconfont iconguanbi"></span> 移除
                            </div>
                        </div>
                    </div>
                    <div class="name">杜月笙专题</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
