<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/about.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="container feedback">
    <div class="title title-gywm"></div>
    <p class="p">湖北博盛数字教育服务有限公司是长江出版传媒股份有限公司与湖北省教育信息化发展中心共同出资组建的国有企业，创立于2012年12月31日，注册资本1000万元人民币。</p>
    <p class="p">目前，公司拥有43项软件著作权、6个自主研发软件产品、2项科学技术成果鉴定证书、“多多社区卡通造型”“多多社区”等4个注册商标，已取得AAA企业资信等级认证、ISO质量管理体系认
        证、软件企业、高新技术企业、ICP电信经营许可等资质。</p>
    <p class="p">公司整合长江传媒教育出版内容资源和湖北省教育信息化发展中心渠道资源，面向学生、家长、教师、学校及教育研究和管理人员建成各类教育实名用户的教育社区，将传统教育关系和教育
        活动向互联网延伸。公司依托《心理健康教育》《生命安全教育》两门地方教材数字化支撑平台，夯实技术开发、资源服务、渠道建设三方面基础，围绕教育资源、教学管理、教学应用持续做好
        产品开发、服务和应用拓展。公司紧抓“教、学、练、测、评”五大环节，开发完成“长江云校”智慧课堂、“多多乐学”APP、《朝读经典》全媒体出版与数字教育服务平台、农村教学点网校监控
        管理系统，建成百万数量级的教学资源库，实现教育产品从省本级向校本级，从辅课向主课，从几课向多课的全覆盖。</p>
     <p class="p">公司拥有强大的技术团队，在为长江传媒提供数字技术支撑的同时，积极拓展市场化技术服务。公司先后承担5项国家级项目、12项省级项目、8项市（区）级项目的开发，也积极参与到相关
         项目的运营中，均取得较好效果。</p>
      <p class="p">公司也是教育信息化系统集成商，有计划地参与湖北省“三通两平台”建设为基础的装备与软件平台集采中。一方面加强与各软硬件厂商和各县市新华书店合作，建立相对稳定的合作机制，共
          赢互利，另一方面通过集成第三方产品带动自有产品的销售，向k12阶段提供全学科的内容和产品。</p>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
