<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/detail.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="bread">
    <div class="container">
        <a href="">图书</a>><a href="">社会科学总论</a>><a href="">杜月笙全传</a>
    </div>
</div>
<div class="container layout clearfix">
    <div class="detail-book">
            <div class="cover clearfix">
                <div class="keep"><span class="iconfont iconshoucang"></span><span class="iconfont iconshoucang1"></span> 收藏</div>
                <div class="img" style="background-image:url('/read/static/src/img/md/ex10.png')"></div>
                <div class="info">
                    <div class="name">杜月笙全转</div>
                    <div class="pub">
                         湖北长江出版社出版
                    </div>
                    <div class="author">
                        <span class="space">出版周期：半月</span>
                        <span>ISSN：1674-3415</span>
                    </div>
                    <div class="author">
                        <span class="space">邮发代号：38-108</span>
                        <span>创刊时间：1999年</span>
                    </div>
                    <div class="data">
                        <span class="space">CN：41-1401 / TM</span>
                        <span>语种：中文</span>
                    </div>
                    <div class="classify">
                        <span class="space">开本：大16开</span>
                        <span>出版地：湖北省武汉市</span>
                    </div>

                    <a class="button">开始阅读</a>
                </div>
            </div>
            <div class="dec">
                <div class="title title-wqqk" style="margin-bottom: 0"></div>
                <div class="mdqk6">
                    <div class="row">
                        <div class="item">
                            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                            <div class="name">
                                第一版 头版
                            </div>
                        </div>
                        <div class="item">
                            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                            <div class="name">
                                第一版 头版
                            </div>

                        </div>
                        <div class="item">
                            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                            <div class="name">
                                第一版 头版
                            </div>

                        </div>
                        <div class="item">
                            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                            <div class="name">
                                第一版 头版
                            </div>

                        </div>
                        <div class="item">
                            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                            <div class="name">
                                第一版 头版
                            </div>
                        </div>
                        <div class="item">
                            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                            <div class="name">
                                第一版 头版
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>

