<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/detail.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="bread">
    <div class="container">
        <a href="">图书</a>><a href="">社会科学总论</a>><a href="">杜月笙全传</a>
    </div>
</div>
<div class="container layout clearfix">
    <div class="pull-left block3 detail-book">
         <div class="video clearfix">
            <div class="videoPlay"></div>
            <div class="title">
               学习成果展示视频
               <div class="control">
                  <label for=""><span class="iconfont iconbo"></span> 237次</label>
                  <label for=""><span class="iconfont iconshoucang"></span> 收藏</label>
               </div>
            </div>
            <div class="title-2">
                视频分类/二级分类/三级分类
            </div>
            <div class="dec">简介：根据缪娟同名小说《翻译官》改编。由王迎执导，杨幂，黄轩领衔主演的爱情职场剧本，着名法语系大师乔菲在翻译天才程家阳的
                指导下，成长为高级翻译，两人也从欢喜冤家变成亲密爱人的故事。</div>
         </div>
    </div>
    <div class="pull-right block4">

         <div class="payerTag">
             <div class="title title-jj"></div>
             <div class="tags">
                 <div class="tag">1</div>
                 <div class="tag">2</div>
                 <div class="tag">3</div>
                 <div class="tag">4</div>
                 <div class="tag">5</div>
             </div>
         </div>
    </div>
    <div class="videoMore">
        <div class="title title-xgtj"></div>
        <div class="mdqk5">
            <div class="row">
                <div class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">
                        第一版 头版
                    </div>

                </div>
                <div class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">
                        第一版 头版
                    </div>

                </div>
                <div class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">
                        第一版 头版
                    </div>

                </div>
                <div class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">
                        第一版 头版
                    </div>

                </div>
                <div class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">
                        第一版 头版
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>

