<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/detail.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="bread">
    <div class="container">
        <a href="">图书</a>><a href="">社会科学总论</a>><a href="">杜月笙全传</a>
    </div>
</div>
<div class="container layout clearfix">
    <div class="pull-left block3 detail-book">
            <div class="cover clearfix">
                <div class="keep"><span class="iconfont iconshoucang"></span><span class="iconfont iconshoucang1"></span> 收藏</div>
                <div class="img" style="background-image:url('/read/static/src/img/md/ex10.png')"></div>
                <div class="info">
                    <div class="name">杜月笙全转</div>
                    <div class="author">作者：李大安</div>
                    <div class="pub">出版社：长江传媒出版社</div>
                    <div class="data">出版时间：2018年5月12日</div>
                    <div class="classify">分类：小说</div>
                    <a href="" class="button">开始阅读</a>
                </div>
            </div>
            <div class="dec">
                <div class="title title-tsjj"></div>
                <p class="p">为了出人头地投掷靠青帮头目黄金荣；献媚于黄金荣的大老婆桂生姐；镇压工人武装，杀害成员人取宠于反动势力；上攀“天子”蒋介
                    石；中靠军统特务头子戴笠；下用青帮，“恒社”等帮会社团组织……一步步登上了民国年间名噪一时的“教父”宝座……这本书已经被全面
                    系统地反映了杜月笙用刀枪，鸦片，赌器，官印，女人，金钱，通过黑道势力发迹于十里洋场的过程；同时又客观的记叙了杜月笙在抗战
                    时期不惧怕日本人的威逼利诱捕，坚持支持国共抗日，并清剿汉奸特务的业绩；描叙了他对蒋介石攀附，希翼，失望，离心的四个阶段；
                    刻画了他从“教父”宝座上跌落，客死在香港的结局。</p>
            </div>
    </div>
    <div class="pull-right block4">
          <div class="list-detail">
              <div class="title title-xgts"></div>
              <div class="row">
                  <a href="" class="clearfix item">
                      <div style="background-image:url('/read/static/src/img/md/ex10.png')" class="img"></div>
                      <div class="info">
                          <div class="name">世界历史一本通</div>
                          <div class="author">顾赔、刘旭</div>
                          <div class="classify">分类：小说</div>
                          <div class="dec">为了出人头地投掷靠青帮
                              头目黄金荣；献媚于黄金
                              荣的大老婆桂生姐；镇...</div>
                      </div>
                  </a>
                  <a href="" class="clearfix item">
                      <div style="background-image:url('/read/static/src/img/md/ex10.png')" class="img"></div>
                      <div class="info">
                          <div class="name">世界历史一本通</div>
                          <div class="author">顾赔、刘旭</div>
                          <div class="classify">分类：小说</div>
                          <div class="dec">为了出人头地投掷靠青帮
                              头目黄金荣；献媚于黄金
                              荣的大老婆桂生姐；镇...</div>
                      </div>
                  </a>
                  <a href="" class="clearfix item">
                      <div style="background-image:url('/read/static/src/img/md/ex10.png')" class="img"></div>
                      <div class="info">
                          <div class="name">世界历史一本通</div>
                          <div class="author">顾赔、刘旭</div>
                          <div class="classify">分类：小说</div>
                          <div class="dec">为了出人头地投掷靠青帮
                              头目黄金荣；献媚于黄金
                              荣的大老婆桂生姐；镇...</div>
                      </div>
                  </a>
                  <a href="" class="clearfix item">
                      <div style="background-image:url('/read/static/src/img/md/ex10.png')" class="img"></div>
                      <div class="info">
                          <div class="name">世界历史一本通</div>
                          <div class="author">顾赔、刘旭</div>
                          <div class="classify">分类：小说</div>
                          <div class="dec">为了出人头地投掷靠青帮
                              头目黄金荣；献媚于黄金
                              荣的大老婆桂生姐；镇...</div>
                      </div>
                  </a>
              </div>
          </div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>

