<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/about.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="container feedback">
    <div class="title title-yjfk"></div>
    <textarea name=""  cols="30" rows="10" id="textarea" placeholder="请在这里填写您遇到的问题或意见建议，您的意见是我们前进的动力。"></textarea>
    <dl>
       <dt>
         图片上传:
       </dt>
       <dd>
           <div>
               <span class="button" style="padding: 0 20px;">图片上传</span>
               <span>请上传本地图片，最多上传4张，大小不超过3M，格式为.jpg，jpeg，.gif，.png或.bmp</span>
           </div>
           <div>
               <img src="/read/static/src/img/md/ex10.png" alt="">
           </div>
       </dd>
    </dl>
    <dl>
        <dt>
            联系方式:
        </dt>
        <dd>
            <input type="text" class="input" placeholder="建议留下手机号，QQ，邮箱任意一个，可供我们及时回复您。">
        </dd>
    </dl>
    <div class="bts">
        <div class="button l-big" >提交反馈</div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
