<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/search.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="bread">
    <div class="container">
        <a>搜索</a>><a href="">电子期刊</a>
    </div>
</div>
<div class="container search-r clearfix">
    <div class="prompt">搜索到30条符合“杜月笙”条件的结果</div>
    <div class="mdSearch20">
         <div class="row">
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                    第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
             <div class="item">
                 <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                 <div class="name">
                     第一版 头版
                 </div>
                 <div class="data">长江日报 2020年10月1日</div>
             </div>
         </div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
