<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/search.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="bread">
    <div class="container">
        <a>搜索</a>><a href="">电子期刊</a>
    </div>
</div>
<div class="container search-r">
    <div class="prompt">搜索到30条符合“杜月笙”条件的结果</div>
    <div class="searchList">
        <a class="item clearfix border_cbottom">
            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="imgBox"></div>
            <div class="info">
                <div class="name">杜月笙传</div>
                <div class="author">作者：雅思 恒光</div>
                <div class="pub">出版社：华中科技大学</div>
                <div class="issn">issn:1003-2797</div>
                <div class="cn">42-1805 / G2</div>
            </div>
        </a>
        <a class="item clearfix border_cbottom">
            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="imgBox"></div>
            <div class="info">
                <div class="name">杜月笙传</div>
                <div class="author">作者：雅思 恒光</div>
                <div class="pub">出版社：华中科技大学</div>
                <div class="dec">19世纪末20世纪初的上海滩，潜伏着光怪陆离、千差百异的危险信号，满足了那些冒险家对于刺激和挑战的追寻和需求。这样的上海滩不像个城市，反倒像个
                    具有浓厚厮杀气息的角斗场。在这样的角斗场上，杜月笙就是一位脱颖而出的骁勇的冒险家杜月笙，无疑是民国那个动荡年代的印记！</div>
            </div>
        </a>
        <a class="item clearfix border_cbottom">
            <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="imgBox"></div>
            <div class="info">
                <div class="name">杜月笙传</div>
                <div class="author">作者：雅思 恒光</div>
                <div class="pub">出版社：华中科技大学</div>
                <div class="dec">19世纪末20世纪初的上海滩，潜伏着光怪陆离、千差百异的危险信号，满足了那些冒险家对于刺激和挑战的追寻和需求。这样的上海滩不像个城市，反倒像个
                    具有浓厚厮杀气息的角斗场。在这样的角斗场上，杜月笙就是一位脱颖而出的骁勇的冒险家杜月笙，无疑是民国那个动荡年代的印记！</div>
            </div>
        </a>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
