<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/about.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="container feedback">
    <div class="title title-pqsm"></div>
    <div class="copyright">
         <div class="p">除特别声明以外，本网所有文字，图片和声音，视频资料，版权均属XXXX所有，任何媒体或个人声明本网协议授权均不得转载，链接，转贴或以其他方式复制发布，发表。</div>
        <div class="bold">本网以下内容亦不可任意任意载：</div>
        <div class="p">本网所指向的非本网内容的相关链接内容；</div>
        <div class="p">已承诺不得转载或合法许可不得转载声明的内容；</div>
        <div class="p">未由本网署名或本网引用，转载的其他作品等非本网版权内容；</div>
        <div class="p">本网中特有的图形，标志，页面风格，编排方式，程序等；</div>
        <div class="p">本网中必须具有特别授权或具有注册用户资格方可知晓的内容；</div>
        <div class="p">其他法律允许或本网认为不适合转载的内容。</div>
        <div class="bold">转载或引用本网内容不得进行如下活动：</div>
        <div class="p">损害本网或他人利益；</div>
        <div class="p">任何违法行为；</div>
        <div class="p">任何可能破坏公秩良俗的行为；</div>
        <div class="p">擅自同意他人继续转载，引用本网内容。</div>
        <div class="p">转载或引用本网版权之内容须注明为“转自（或引自）XXXX”字样，并标明本网网址。</div>
        <div class="p">转载或引用本网中的署名文章，请按规定向作者支付稿酬。</div>
        <div class="p">属于非原创作品的，将根据《著作权法》相关规定进行处理。此类作品所产生的一切责任，后果由投稿人自负。</div>
        <div class="bold">XXXX网站有遵守国家相关法律的义务和权利，原创作品不接受包含下列内容之一的稿件。</div>
        <div class="p">反对宪法所确定的基本原则的；</div>
        <div class="p">危害国家安全，关注国家秘密，颠覆国家政权，破坏国家统一的；</div>
        <div class="p">煽动民族仇恨，民族歧视，破坏民族团结的；</div>
        <div class="p">破坏国家宗教政策，宣扬邪教和封建迷信的；</div>
        <div class="p">散布谣言，扰乱社会秩序，破坏社会稳定的；</div>
        <div class="p">散布淫秽，色情，欺诈，暴力，凶杀或者教唆犯罪的；</div>
        <div class="p">侮辱或诽谤人权，侵害他人合法权益的；</div>
        <div class="p">包含法律，行政法规禁止的其他内容的。</div>
        <div class="p">凡授权在本站发表的作品，即替换专有本站非商业使用权（具体版权约定可另见双方双方的版权合作协议）。</div>
        <div class="p">如因原创作品引起版权纠纷，请作者速与XXXX联系并提供相应证明材料。</div>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
