<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/about.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
    <div class="container">
        <img src="../static/src/img/index/logo.png" alt="" class="logo">
        <div class="search-g">
            <div class="inner clearfix">
                <select name="" id="" class="select">
                    <option value="1">电子期刊</option>
                    <option value="2">报纸</option>
                    <option value="3">论文</option>
                    <option value="3">中国问题研究</option>
                </select>
                <div class="cart">
                    <div class="border"></div>
                </div>
                <input type="text" class="input" placeholder="请输入书面或者作者">
                <div class="se-button">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
            <a href="">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
            <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>
<div class="container feedback">
    <div class="title title-lxwm"></div>
    <div class="map">
        <img src="/read/static/src/img/about/map.png" alt="" class="img">
        <p>电话：027-87679560</p>
        <p>邮箱：8464679456@qq.com</p>
        <p>地址：湖北省武汉市洪山区雄楚大道268号出版文化城B座7层</p>
    </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
</body>
</html>
