<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>index</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="../static/src/css/font.css">
<link rel="stylesheet" type="text/css" href="../static/src/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/src/js/lib/swiper/swiper.min.css">
</head>
<body>
<div class="top-g">
    <div class="container clearfix">
        <div class="welcome pull-left">你好欢迎来到博盛阅读</div>
        <div class="userStatus pull-right" id="loginBt">账号登录</div>
    </div>
</div>
<div class="logoSearch logoBg">
       <div class="container">
           <img src="../static/src/img/index/logo.png" alt="" class="logo">
           <div class="search-g">
               <div class="inner clearfix">
                   <select name="" id="" class="select">
                       <option value="1">电子期刊</option>
                       <option value="2">听书</option>
                       <option value="3">视频</option>
                       <option value="3">数字报纸</option>
                   </select>
                   <div class="cart">
                       <div class="border"></div>
                   </div>
                   <input type="text" class="input" placeholder="请输入书面或者作者">
                   <div class="se-button">

                   </div>
               </div>
           </div>
       </div>
</div>

<div class="nav-g">
    <div class="container clearfix">
        <div class="nav-item">
           <a href="" class="active">首页</a>
        </div>
        <div class="nav-item">
            <a href="">听书</a>
        </div>
        <div class="nav-item">
            <a href="">电子期刊</a>
        </div>
        <div class="nav-item">
           <a href="">数字报纸</a>
        </div>
        <div class="nav-item">
            <a href="">视频</a>
        </div>
    </div>
</div>

<!--轮播-->
<div class="banner">
   <div class="container clearfix">
         <div class="carousel-left">
             <div class="swiper-container" id="carousel-left">
                 <div class="swiper-wrapper">
                     <a class="swiper-slide swiper-no-swiping" style="background-image: url('/read/static/src/img/ex-banner-left.png')">

                     </a>
                     <a class="swiper-slide swiper-no-swiping" style="background-image: url('/read/static/src/img/ex-banner-left2.png')">

                     </a>
                     <a class="swiper-slide swiper-no-swiping" style="background-image: url('/read/static/src/img/ex-banner-left3.png')">

                     </a>
                 </div>
                 <div class="swiper-pagination"></div>
             </div>
         </div>
         <div class="carousel-right">
             <div class="swiper-container" id="carousel-right">
                 <div class="swiper-wrapper">
                     <a class="swiper-slide swiper-no-swiping">
                         <div class="inner" style="background-image: url('/read/static/src/img/ex-banner-right.png')"></div>
                     </a>
                     <a class="swiper-slide swiper-no-swiping" >
                         <div  class="inner" style="background-image: url('/read/static/src/img/ex-banner-right2.png')"></div>
                     </a>
                     <a class="swiper-slide swiper-no-swiping" >
                         <div  class="inner" style="background-image: url('/read/static/src/img/ex-banner-right3.png')"></div>
                     </a>
                 </div>
             </div>
             <div class="carousel-info">
                 <div class="name">杜月笙传奇</div>
                 <div class="dec">【高大安】为了出人头地投靠青帮头目黄金荣献
                     媚于黄金荣的大老婆桂生姐；镇压工人武装杀...</div>
             </div>
         </div>
   </div>
</div>
<!--精品图书-->
<div class="wall">
    <div class="container clearfix">
         <div class="pull-left  block">
              <div class="md10">
                   <div class="title title-jpts">
                       <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                   </div>
                   <div class="row clearfix">
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                           <div class="author">高大安</div>
                       </a>
                   </div>
              </div>
              <div class="clearfix">
                  <div class="pull-left block3">
                      <div class="list-min">
                          <div class="title title-shkxzl">
                              <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                          </div>
                          <div class="list">
                              <a class="item clearfix active">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                              <div class="dec">为了出人头地投靠青帮头目黄金荣；献媚于黄金
                                                  大概荣的宋代文学评论大老婆桂生姐；镇压宋大概荣的宋代文学评论大老婆桂生姐；镇压宋</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix" href="">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="list-min">
                          <div class="title title-wx">
                              <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                          </div>
                          <div class="list">
                              <a class="item clearfix active">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                              <div class="dec">为了出人头地投靠青帮头目黄金荣；献媚于黄金
                                                  大概荣的宋代文学评论大老婆桂生姐；镇压宋大概荣的宋代文学评论大老婆桂生姐；镇压宋</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix" href="">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="pull-right block3">
                      <div class="list-min">
                          <div class="title title-zxzj">
                              <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                          </div>
                          <div class="list">
                              <a class="item clearfix active">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                              <div class="dec">为了出人头地投靠青帮头目黄金荣；献媚于黄金
                                                  大概荣的宋代文学评论大老婆桂生姐；镇压宋大概荣的宋代文学评论大老婆桂生姐；镇压宋</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix" href="">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="list-min">
                          <div class="title title-mlm">
                              <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                          </div>
                          <div class="list">
                              <a class="item clearfix active">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                              <div class="dec">为了出人头地投靠青帮头目黄金荣；献媚于黄金
                                                  大概荣的宋代文学评论大老婆桂生姐；镇压宋大概荣的宋代文学评论大老婆桂生姐；镇压宋</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a class="item clearfix" href="">
                                  <div class="main">
                                      <div class="single">【文学理论】世界历史一本通</div>
                                      <div class="clearfix detail">
                                          <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                          <div class="info">
                                              <div class="name">世界历史一本通</div>
                                              <div class="author">米莱特</div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
         </div>
         <div class="pull-right block2">
             <div class="list-m yellow">
                 <div class="title title-tsrqb"></div>
                 <div class="list">
                     <a class="item clearfix active">
                         <div class="num">
                            <span class="text">1</span>
                         </div>
                         <div class="main">
                             <div class="single">世界历史一本通</div>
                             <div class="clearfix detail">
                                 <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                 <div class="info">
                                     <div class="name">世界历史一本通</div>
                                     <div class="author">米莱特</div>
                                 </div>
                             </div>
                         </div>
                     </a>
                     <a class="item clearfix">
                         <div class="num">
                             <span class="text">2</span>
                         </div>
                         <div class="main">
                             <div class="single">世界历史一本通</div>
                             <div class="clearfix detail">
                                 <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                 <div class="info">
                                     <div class="name">世界历史一本通</div>
                                     <div class="author">米莱特</div>
                                 </div>
                             </div>
                         </div>
                     </a>
                     <a class="item clearfix">
                         <div class="num">
                             <span class="text">3</span>
                         </div>
                         <div class="main">
                             <div class="single">世界历史一本通</div>
                             <div class="clearfix detail">
                                 <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                 <div class="info">
                                     <div class="name">世界历史一本通</div>
                                     <div class="author">米莱特</div>
                                 </div>
                             </div>
                         </div>
                     </a>
                     <a class="item clearfix" href="">
                         <div class="num">
                             <span class="text">4</span>
                         </div>
                         <div class="main">
                             <div class="single">世界历史一本通</div>
                             <div class="clearfix detail">
                                 <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                 <div class="info">
                                     <div class="name">世界历史一本通</div>
                                     <div class="author">米莱特</div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
             </div>
             <div class="tags">
                 <a href="" class="tag">科学社、看看什么</a>
                 <a href="" class="tag">看看什么</a>
                 <a href="" class="tag">世界</a>
                 <a href="" class="tag">看看世界</a>
             </div>
         </div>
    </div>
</div>
<!--听书-->
<div class="wall mdBg">
    <div class="container clearfix">
        <div class="pull-left  block">
            <div class="md10">
                <div class="title title-ts">
                    <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                </div>
                <div class="row clearfix">
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                </div>
            </div>

        </div>
        <div class="pull-right block2">
            <div class="list-m red">
                <div class="title title-djdzt"></div>
                <div class="list">
                    <a class="item clearfix active">
                        <div class="num">
                            <span class="text">1</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix">
                        <div class="num">
                            <span class="text">2</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix">
                        <div class="num">
                            <span class="text">3</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix" href="">
                        <div class="num">
                            <span class="text">4</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--电子期刊-->
<div class="wall">
    <div class="container clearfix">
        <div class="pull-left  block">
            <div class="md10">
                <div class="title title-dzqk">
                    <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                </div>
                <div class="row clearfix">
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                    <a class="item">
                        <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                        <div class="name">杜月笙专题</div>
                        <div class="author">高大安</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="pull-right block2">
            <div class="list-m blue">
                <div class="title title-rmqk"></div>
                <div class="list">
                    <a class="item clearfix active">
                        <div class="num">
                            <span class="text">1</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix">
                        <div class="num">
                            <span class="text">2</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix">
                        <div class="num">
                            <span class="text">3</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix" href="">
                        <div class="num">
                            <span class="text">4</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--数字报纸-->
<div class="wall mdBg">
    <div class="container">
        <div class="md5">
            <div class="title title-rmbz">
                <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
            </div>
            <div class="row clearfix">
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">杜月笙专题</div>
                    <div class="author">长江日报 2020年10月01日</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">杜月笙专题</div>
                    <div class="author">高大安</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">杜月笙专题</div>
                    <div class="author">长江日报 2020年10月01日</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">杜月笙专题</div>
                    <div class="author">高大安</div>
                </a>
                <a class="item">
                    <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                    <div class="name">杜月笙专题</div>
                    <div class="author">高大安</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--视频-->
<div class="wall">
    <div class="container clearfix">
        <div class="block pull-left">
               <div class="md8">
                   <div class="title title-sp">
                       <a href="" class="more">更多<span class="iconfont iconjiantou"></span></a>
                   </div>
                   <div class="row clearfix">
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>
                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                       <a class="item">
                           <div style="background-image:url('/read/static/src/img/md/ex10.png') " class="bookImg"></div>
                           <div class="name">杜月笙专题</div>

                       </a>
                   </div>
               </div>
        </div>
        <div class="block2 pull-right">
            <div class="list-m yellow">
                <div class="title title-rmsp"></div>
                <div class="list">
                    <a class="item clearfix active">
                        <div class="num">
                            <span class="text">1</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix">
                        <div class="num">
                            <span class="text">2</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix">
                        <div class="num">
                            <span class="text">3</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item clearfix" href="">
                        <div class="num">
                            <span class="text">4</span>
                        </div>
                        <div class="main">
                            <div class="single">世界历史一本通</div>
                            <div class="clearfix detail">
                                <div style="background-image:url('/read/static/src/img/md/ex-list.png') " class="bookImg"></div>
                                <div class="info">
                                    <div class="name">世界历史一本通</div>
                                    <div class="author">米莱特</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--弹窗-->
<div class="dialogLogin" id="dialogLogin" style="display: none;">
  <div class="title">用户登录</div>
  <span class="iconfont iconguanbi closeBt" id="closeBt"></span>
  <div class="login">
       <div class="wrap">
           <div class="prompt err"></div>
           <div class="input-item">
               <div class="head"><span class="iconfont iconyonghu"></span></div>
               <input type="text" class="input" placeholder="请输入用户名">
           </div>
           <div class="input-item">
               <div class="head"><span class="iconfont iconmima"></span></div>
               <input type="password" class="input" placeholder="请输入密码">
           </div>
           <div class="agree">
               <input type="checkbox" id="checkbox"><label for="checkbox">记住账号</label>
           </div>
           <div class="btns clearfix">
               <span class="btn pull-left">登录</span>
               <span class="btn btn-a pull-right">IP登录</span>
           </div>
       </div>
  </div>
</div>
<div class="foot">
    <div class="link">
        <a href="">关于我们</a><span class="space">|</span><a href="">版权声明</a><span class="space">|</span><a href="">意见反馈</a><span class="space">|</span><a href="">联系我们</a><span class="space">|</span><a href="">商务合作</a>
    </div>
    <div class="copyright">
        <span>粤公网安备44010602000169号</span>
        <span class="space"></span>
        <span>©2015-2020 广州阿里巴巴文学信息技术有限公司</span>
    </div>
</div>
<script src="/read/static/src/js/lib/require.js"></script>
<script type="text/javascript" src="/read/static/src/js/tools/re-config.js"></script>
<script type="text/javascript" src="/read/static/src/js/index.js"></script>
</body>
</html>
